
img {
	filter: unset !important;
}


/* Tasks */

div[role="row"] {
	background-color: #2e2e2e !important;
}
._39hb ._5fk-._5fl0:not(._40e1) {
	/* background: #585858 !important; */
	background-color: #262626 !important;
}

/* Messenger selection */
._1ht1._1ht2 ._6zkc,
._6q1a ._1ht1._1ht2 {
	background-color: #262626 !important;
}

/* Groupme */


.chat-messages .likes-container .liked-by-me .gmicon-heart,
.chat-messages .likes-container .liked-by-me:hover .gmicon-heart {
	color: #bd3832 !important;
}

.chat-messages .message.me {
	background-color: #2e2e2e !important;
}
