/* PHABRICATOR */

/* code colors */
.phabricator-body .remarkup-code .k,
.phabricator-body .remarkup-code .kd,
.phabricator-body .remarkup-code .kn,
.phabricator-body .remarkup-code .kt,
/* github */
.pl-v
{
	color: #E05F27 !important;
}

.phabricator-body .remarkup-code .s,
.phabricator-body .remarkup-code .sb,
.phabricator-body .remarkup-code .sc,
.phabricator-body .remarkup-code .s2,
.phabricator-body .remarkup-code .s1,
.phabricator-body .remarkup-code .sx,
/* github */
.pl-s
{
	color: #15968D !important;
}
.phabricator-body .remarkup-code .cp,
.phabricator-body .remarkup-code .kp,
.phabricator-body .remarkup-code .kr,
.phabricator-body .remarkup-code .nb,
.phabricator-body .remarkup-code .bp,
/* phabricator 2 */
.phabricator-body .remarkup-code .na,
/* github */
.pl-en

{
	color: #2F7BDE !important;
}
.phabricator-body .remarkup-code .o,
.phabricator-body .remarkup-code .ss,
/* github */
.pl-k
{
	color: #bd3832 !important;
}


.phabricator-body .remarkup-code .nc,
.phabricator-body .remarkup-code .nt,
.phabricator-body .remarkup-code .vc,
/* github */
.pl-ent
{
	color: #598249 !important;
}
.phabricator-body .remarkup-code .kc,
.phabricator-body .remarkup-code .no,
/* phabricator two */
.phabricator-body .remarkup-code .nv,
.phabricator-body .remarkup-code .vi,
.phabricator-body .remarkup-code .vg,
/* github */
.pl-c1, .pl-e
{
	color: #797FD4 !important;
}
.phabricator-body .remarkup-code .nf,
.phabricator-body .remarkup-code .nx {
	color: #15968D !important;
}

.phabricator-body .remarkup-code .m,
.phabricator-body .remarkup-code .mf,
.phabricator-body .remarkup-code .mh,
.phabricator-body .remarkup-code .mi,
.phabricator-body .remarkup-code .mo,
.phabricator-body .remarkup-code .il {
	color: #797FD4 !important;
}

/* comment */
.phabricator-body .remarkup-code .c,
.phabricator-body .remarkup-code .cm,
.phabricator-body .remarkup-code .c1,
.phabricator-body .remarkup-code .cs,
/* github */
.pl-c {
	color: #5e6263 !important;
}

/* Code size/font */
/* How do you even pick a default font that bad good god */
.phabricator-body .PhabricatorMonospaced,
/* github */
.blob-code-inner {
	font: 9pt "Monoid", "DejaVu Sans Mono-10" !important;
}
.phabricator-body .remarkup-code span {
	border-bottom: unset !important;
}

/* js highlight */
.phabricator-body .differential-diff span.highlighted-token,
.phabricator-body .differential-diff span.highlighted-token span.bright,
/* github */
.selected-line.selected-line.blob-code
{
	background-color: #393805 !important;
}

/* code highlight */

/* Removed - normal */
.differential-diff td.old,
._708q ._708m, /* rebase? */
._708q ._708l,
/* github */
.blob-code-deletion.blob-code-deletion
{
	background: #371717 !important;
}

/* Removed - focused */
.phabricator-body .differential-diff td.old-full,
.phabricator-body .differential-diff td.old span.bright,
._708q ._708l ._708f,
._708q ._708l._708f,
/* github */
.blob-code-deletion .x
{
	background: #4a2827 !important;
}

/* Added - normal */
.phabricator-body .differential-diff td.new,
._708q ._708o,
._708q ._708p,  /* rebase? */
/* github */
.blob-code-addition.blob-code-addition
{

	background: #143515 !important;
}

/* Added - focused */
.phabricator-body .differential-diff td.new-full,
.phabricator-body .differential-diff td.new span.bright,
._708q ._708o ._708f, ._708q ._708o._708f,
/* github */
.blob-code-addition .x
{
	background: #264726 !important;
}

/* release staging */
._5awd {
	background: #2F7BDE !important;
}
._nqz,
._nq- {
	border-bottom: 15px solid transparent !important;
	border-left: 10px solid #2F7BDE !important;
	border-top: 14px solid transparent !important;
}
#js_8j {
	background-color: #E05F27 !important;
}

/* Coverage */

.phabricator-body td.cov-U {
	background: #a8366b !important;
}
.phabricator-body td.cov-C {
	background: #2F7BDE !important;
}

/* lint warnings */
._2u9d {
	background-color: #E05F27 !important;
	color: #5e6263 !important;
}

div.differential-lint-comment.differential-lint-severity-warning > div.differential-lint-title:first-child {
	background-color: #591E1E !important;
}
